table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
div.main {
    display: flex;
    justify-content: space-around;
    align-content: center;
}